@using WebAppTollCollection.ViewModel
@model  RegisterUser
@{
    Layout = "_Layout";
}

<h1 class="text-center title-page">Register</h1>
<div class="login-form">
    <form id="customer-form" action="#" method="post">
        <div>
            <div class="form-group no-gutters">
                <div class="input-group js-parent-focus">
                    @*  <label asp-for="UserName"></label> *@
                    <input asp-for="UserName" class="form-control" type="text" placeholder="UserName" />
                    <span asp-validation-for="UserName"></span>

                </div>
            <div asp-validation-summary="All"></div>
            <div class="form-group no-gutters">
                @* <label asp-for="UserEmail"></label> *@
                <input asp-for="UserEmail" class="form-control" type="email" placeholder=" Email" />
                <span asp-validation-for="UserEmail"></span>
            </div>
            <div class="form-group no-gutters">
                <div class="input-group js-parent-focus">
                    @*  <label asp-for="Password"></label> *@
                    <input asp-for="Password" class="form-control js-child-focus js-visible-password" placeholder="Password" />
                    <span asp-validation-for="Password"></span>

                </div>
            </div>
            <div class="form-group no-gutters">
                <div class="input-group js-parent-focus">
                    @*  <label asp-for="Password"></label> *@
                    <input asp-for="ConfirmPassword" class="form-control js-child-focus js-visible-password" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword"></span>

                </div>
            </div>
            <div class="no-gutters text-center">
                <div class="forgot-password">
                    <a rel="nofollow" asp-action="login">Registered?</a>

                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="text-center no-gutters">
                <button class="btn btn-primary" data-link-action="sign-in" type="submit">
                    Sign up
                </button>
            </div>
        </div>
    </form>
</div>
